*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf");
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Roboto;
}

input {
  box-sizing: border-box;
}
a {
  color: var(--text-color);
  text-decoration: dashed;
}
img {
  object-fit: cover;
}
li {
  list-style-type: none;
}

select {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(12, 12, 12);
}
:root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  --border-color: #ffffff;
  --background-color: #000000;
  --font-color: #ffffff;
  --input-color: #ffffff;
  --active-li-background :  #ffffff;
  --active-li-color :   #000000;
  
}
 body.dark {
  --background-color: #ffffff;
  --font-color: #000000;
  --border-color: rgb(0, 0, 0);
  --input-color: #efefef;
  --active-li-background :  #000000;
  --active-li-color :  #ffffff;
}



  @media (min-width: 1366px) {
    :root{
     padding: 0px 134px 0px 134px;
    }
  }
  @media (min-width: 1024px) {
    :root{
      padding: 0px 42px 0px 42px;
     }
  }
  @media (min-width: 768px) {
    :root{
      padding: 0px 34px 0px 34px;
     }
  }
  @media (min-width: 320px) {
    :root{
      padding: 0px 20px 0px 20px;
     }
  }

